In [3]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


data = pd.read_csv('Data/stitchedGuide.csv')

data.head()

,Org Name,EIN,Current FY Start,Current FY End,Ruling Year,Form Year,Form Type,Address Line 1,Address Line 2,City,...,Legal Fees,Pension Plan Contributions Employee Benefits,Printing and Publications,Professional Fundraising Expenses,Principal Officer,Org Leader,Primary Contact Name,Primary Contact Title,Primary Contact Email,Number of Employees
0,Marjorie F Campbell Educational Trust,10-6006537,2018-01-01,2018-12-31,2007,2018,990PF,PO Box 1810,NaN,Sanford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Friends of Westons Council On Aging Inc,11-0016148,2018-07-01,2019-06-30,1990,2018,990EZ,PO Box 672,NaN,Weston,...,NaN,NaN,"$5,423",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Connection Fund, Inc.",11-0017051,2017-07-01,2018-06-30,1990,2017,990,955 S Main St,NaN,Middletown,...,"$217,833",NaN,NaN,"$10,180",LISA DEMATTEIS-LEPORE,Peter Nucci,Heide Erb,Communications Coordinator,herb@theconnectioninc.org,63
3,Jhd Jr All of Our Children Memorial Fund,11-0025081,NaN,NaN,1990,NaN,NaN,771 Broadway,NaN,Paterson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mvnhc Inc,11-0026102,NaN,NaN,1990,NaN,NaN,107 W 4th St,NaN,Mount Vernon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN