In [93]:
# Evaluate the total Asset of the current coorperating company
import pandas as pd
import numpy as np
data = pd.read_csv("Data/partners.csv")

In [101]:
df = data['Total Assets'].astype(str)
print(df)

df['totalAssetMil'] = df.str.extract('\$(\d+)\,').fillna(0).astype(int)
df['totalAssetThou'] = df.str.extract('\,(\d+)\,').fillna(0).astype(int)
df['Y0M'] = df[['totalAssetThou','totalAssetThou']].dot([100,1])

0      $26,124,414
1       $5,992,563
2       $5,238,161
3      $26,639,068
4      $50,713,445
5       $7,495,477
6     $685,004,481
7      $79,640,885
8       $2,788,068
9              nan
10     $17,990,771
11      $3,371,257
12      $5,771,752
13     $70,119,742
14     $27,009,301
15     $17,672,198
16    $685,004,481
17     $23,444,752
18     $51,234,789
Name: Total Assets, dtype: object

In [102]:
df.head()

0    $26,124,414
1     $5,992,563
2     $5,238,161
3    $26,639,068
4    $50,713,445
Name: Total Assets, dtype: object

In [82]:
#get rid of the "$"
def remove_punctuation(string):
    new_string = ""
    for i in string:
        if i != "$":
            new_string += i
    return new_string

In [83]:
new_df = []
for dollars in df:
    a = remove_punctuation(dollars)
    if dollars != "nan":
        new_df.append(a.replace(",",""))




print(new_df)

In [103]:
#get the median of the total Assets

for i in range(len(new_df)):
    new_df[i] = int(new_df[i])
new_df.sort()
print(new_df[9])

26124414